.n-progress[data-v-3861a2e7]{margin-top:10px}.n-progress[data-v-3861a2e7] .n-progress-graph-line-fill{transition-duration:.05s!important}.token[data-v-3861a2e7]{text-align:center}.token.token-current[data-v-3861a2e7]{font-size:20px}
